@import "tailwindcss";

@theme {
  --color-background: #fffbff;
  --color-foreground: #0f172a;
  --font-sans: "Inter", sans-serif;
}

/* Reset Global para travar o scroll */
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
